* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(90deg, #98cfcd, #179e97);
}

.body.pink {
  background: linear-gradient(to left, #ffaf7b, #d76d77, #3a1c71);
  color: #000000;
}

@media (max-width: 365px) {
  .body {
    padding: 0;
  }
}

.game__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  font-weight: 900;
  color: #000000;
  user-select: none;
}

.title.pink {
  color: #3a1c71;
}

.subtitle {
  padding: 10px 0;
  font-weight: 600;
  user-select: none;
}

.game {
  display: flex;
  flex-wrap: wrap;
  max-width: 306px;
  max-height: 306px;
  gap: 3px;
}

@media (max-width: 365px) {
  .game {
    max-width: 300px;
    max-height: 300px;
  }
}

.game__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: 600;
  color: #000000;
  background-color: #fff;
  border-radius: 25px;
  transition: opacity 0.3s;
  opacity: 0.4;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 365px) {
  .game__item {
    width: 98px;
    height: 98px;
  }
}

.game__item:hover {
  opacity: 0.6;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  margin: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  font-weight: 600;
  box-shadow: 10px 5px 5px #000000;
}

.button_white {
  color: #000000;
  background: #ffffff;
}

.button_modal {
  color: #ffffff;
  background: #148c91;
}

.button_modal.pink {
  color: #ffffff;
  background: #d76d77;
}

.switch-theme {
  width: 45px;
  height: 45px;
  background: url('../images/svg/sun.svg') no-repeat;
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(29deg)
    brightness(108%) contrast(106%);
  transition: filter 0.3s;
}

.switch-theme:hover {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(21deg) brightness(97%)
    contrast(103%);
  cursor: pointer;
}

.play {
  width: 45px;
  height: 45px;
  background-image: url('../images/svg/play.svg');
  background-size: 100%;
  transition: filter 0.3s;
}

.play:hover {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(66deg)
    brightness(88%) contrast(115%);
  cursor: pointer;
}

.result {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.result__table {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 60%;
  padding: 20px;
  font-size: 15px;
  color: #000000;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.result__title {
  font-size: 20px;
  font-weight: 900;
  color: #065535;
  user-select: none;
}

.result__title.pink {
  color: #3a1c71;
}

.result__saved {
  padding-left: 20px;
  user-select: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  color: #000000;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay:hover {
  cursor: pointer;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 200px;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal__content {
  font-weight: 900;
  color: #022c22;
  user-select: none;
}

.modal__content.pink {
  color: #3a1c71;
}

.modal__button:hover {
  color: #000000;
  box-shadow: 10px 5px 5px #000000;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.footer__link {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #065535;
  cursor: pointer;
}

.footer__link.pink {
  color: #000000;
}

.footer__link.pink:hover {
  color: #d76d77;
}

.footer__link_rss {
  width: 135px;
  height: 50px;
  background-image: url('../images/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: filter 0.3s;
  cursor: pointer;
}

.footer__link_rss:hover {
  filter: invert(83%) sepia(0%) saturate(900%) hue-rotate(123deg)
    brightness(91%) contrast(95%);
}

.footer__link_rss.pink {
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(293deg) brightness(102%)
    contrast(105%);
}

.footer__link_rss.pink:hover {
  filter: invert(59%) sepia(34%) saturate(2432%) hue-rotate(312deg)
    brightness(95%) contrast(76%);
}
